@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



.cursive {
  font-family: "Cedarville Cursive", cursive;
}
.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%
    ),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%
    ),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

/* caorusel styling */
.carousel-container {
    perspective: 450px;
    transform-style: preserve-3d;
  }

  .carousel-control-next.control, .carousel-control-prev.control{
    background-color: #1f2937;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2rem;
    width: 2.2rem;
    top: 83%;
    left: 7rem;
    z-index: 10;
  }

  .control .carousel-control-next-icon, .control .carousel-control-prev-icon{
    width: 1.3rem;
    height: 1.3rem;
    
  }

  .compliance.carousel-caption{
    padding-bottom: 0; padding-top: 6rem;
  }

  

  /* shadow stlying */

  .border-\[\#2A0E61\]{
    --tw-border-opacity: 1!important;
    border-color: rgb(42 14 97 / var(--tw-border-opacity))!important;
  }

  .shadow-\[\#2A0E61\]\/50{
    --tw-shadow-color: rgb(42 14 97 / 0.5)!important;
    --tw-shadow: var(--tw-shadow-colored)!important;
  }
  .shadow-lg{
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)!important;
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color)!important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)!important;
  }

#navbar{
  border-color: #0300145e;
}

@media screen and (max-width: 992px) {
  .contactinfo{
    margin-left: 0;
            padding-top: 0;
            height: auto;
            width: 100%;
  }
  .testimonial{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
  }
  .carousel-control-next.control, .carousel-control-prev.control{
    top: 90%;
    left: 1rem;
  }
  .compliance.carousel-caption{
    padding-top: 2rem;
  }
  .hero{
    height: auto;
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .training{
    padding-right: 0;
  }
  .compliancemain{
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .incident{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .soc{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .contacthero{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}
  